source/flows/Add_Controller_to_Closed_Won_Opp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Has_Large_Wall_Sub</name>
        <label>Has Large Wall Sub?</label>
        <locationX>865</locationX>
        <locationY>154</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppLineItemRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opp_Pdt_LG_Controller</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <description>Make a decision if small subscription(new) is present or not.</description>
        <name>HasSmSubs</name>
        <label>HasSmSubs?</label>
        <locationX>307</locationX>
        <locationY>20</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppLineItemRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opp_Pdt_Sm_Controller</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_LG_Controller_Exist</name>
        <label>If LG Controller Exist</label>
        <locationX>492</locationX>
        <locationY>153</locationY>
        <defaultConnector>
            <targetReference>Get_Price_Book_Entry_Id_for_Large_Hardware</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_To_LG_Controller</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppLineItemRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>YES To LG Controller</label>
        </rules>
    </decisions>
    <decisions>
        <description>Make a decision if small controller exist</description>
        <name>If_SM_Controller_Exist</name>
        <label>If SM Controller Exist</label>
        <locationX>669</locationX>
        <locationY>25</locationY>
        <defaultConnector>
            <targetReference>Get_Price_Book_Entry_Id_for_Hardware</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>YES_to_SM_Controller</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppLineItemRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>YES to SM Controller</label>
        </rules>
    </decisions>
    <interviewLabel>Add Controller to Closed Won Opp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Controller to Closed Won Opp v6</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_Large_Controller</name>
        <label>Add Large Controller</label>
        <locationX>144</locationX>
        <locationY>154</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>OppLineItemRecord.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>OppRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>PriceBookEntryRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>OppLineItemRecord.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Add_Small_Controller</name>
        <label>Add Small Controller</label>
        <locationX>1034</locationX>
        <locationY>26</locationY>
        <connector>
            <targetReference>Get_Opp_Pdt_LG_Sub</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>OppLineItemRecord.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>OppRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>PriceBookEntryRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>OppLineItemRecord.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordLookups>
        <description>Look if LG controller is present in Opp products</description>
        <name>Get_Opp_Pdt_LG_Controller</name>
        <label>Get Opp Pdt LG Controller</label>
        <locationX>669</locationX>
        <locationY>153</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_LG_Controller_Exist</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CNTRLLGK</stringValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>OppLineItemRecord.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Look for opp product - Large wall subscription</description>
        <name>Get_Opp_Pdt_LG_Sub</name>
        <label>Get Opp Pdt LG Sub</label>
        <locationX>1038</locationX>
        <locationY>154</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Large_Wall_Sub</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LRGWALLSUBSC</stringValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>OppLineItemRecord.Description</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OppLineItemRecord.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OppLineItemRecord.Quantity</assignToReference>
            <field>Quantity</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Next step is to look if small controller is present in opp product</description>
        <name>Get_Opp_Pdt_Sm_Controller</name>
        <label>Get Opp Pdt Sm Controller</label>
        <locationX>487</locationX>
        <locationY>23</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_SM_Controller_Exist</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CNTRLSMK</stringValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>OppLineItemRecord.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Pdt_Sm_Sub</name>
        <label>Get Opp Pdt Sm Sub</label>
        <locationX>140</locationX>
        <locationY>18</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HasSmSubs</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SMWALLSUBSC</stringValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>OppLineItemRecord.Description</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OppLineItemRecord.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OppLineItemRecord.Quantity</assignToReference>
            <field>Quantity</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Price_Book_Entry_Id_for_Hardware</name>
        <label>Get Price Book Entry Id for Hardware</label>
        <locationX>864</locationX>
        <locationY>27</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Small_Controller</targetReference>
        </connector>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01sE0000000ND4W</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CNTRLSMK</stringValue>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>PriceBookEntryRecord.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Price_Book_Entry_Id_for_Large_Hardware</name>
        <label>Get Price Book Entry Id for Large Hardware</label>
        <locationX>309</locationX>
        <locationY>155</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Large_Controller</targetReference>
        </connector>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01sE0000000ND4W</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CNTRLLGK</stringValue>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>PriceBookEntryRecord.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Get_Opp_Pdt_Sm_Sub</startElementReference>
    <status>Active</status>
    <variables>
        <name>OppLineItemRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OppRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>PriceBookEntryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
</Flow>
