source/flows/Lead_conversion_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>Create related record to the Contact in the “Bluescape Org” object</description>
    <formulas>
        <name>ConverLeadOrgIdFromTextToNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Lead.Org_Id__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Lead conversion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead conversion flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create</name>
        <label>Create ContactBluescapeOrg</label>
        <locationX>1083</locationX>
        <locationY>37</locationY>
        <inputAssignments>
            <field>Bluescape_Org__c</field>
            <value>
                <elementReference>BluescapeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Lead.ConvertedContactId</elementReference>
            </value>
        </inputAssignments>
        <object>ContactBluescapeOrg__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Bluescape_Org_record</name>
        <label>Create Bluescape Org record</label>
        <locationX>788</locationX>
        <locationY>37</locationY>
        <assignRecordIdToReference>BluescapeId</assignRecordIdToReference>
        <connector>
            <targetReference>Create</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Lead.ConvertedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bluescape_Org_ID__c</field>
            <value>
                <elementReference>ConverLeadOrgIdFromTextToNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan__c</field>
            <value>
                <stringValue>Enterprise</stringValue>
            </value>
        </inputAssignments>
        <object>Bluescape_Org__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>463</locationX>
        <locationY>152</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Bluescape_Org_record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Account</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>312</locationX>
        <locationY>152</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>Lead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ConvertedAccountId</queriedFields>
        <queriedFields>ConvertedContactId</queriedFields>
        <queriedFields>Org_Id__c</queriedFields>
    </recordLookups>
    <startElementReference>Get_Lead</startElementReference>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>BluescapeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
