source/flows/Schedule_Logistic_Call_by_Solution_Consultant.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_To_Chatter_On_oppty</name>
        <label>Post To Chatter On oppty</label>
        <locationX>681</locationX>
        <locationY>283</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Oppty_sObj.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>MessageOnOpptyTaskCreated</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Does_Solution_Consultant_exist_on_Oppty</name>
        <label>Does Solution Consultant exist on Oppty?</label>
        <locationX>269</locationX>
        <locationY>156</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SolutionConsultantsonOpptyTeam</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopThroughSolutionConsultants</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>Threedaysfromnow</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + 3</expression>
    </formulas>
    <interviewLabel>Schedule Logistic Call by Solution Consultant {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule Logistic Call by Solution Consultant</label>
    <loops>
        <name>LoopThroughSolutionConsultants</name>
        <label>LoopThroughSolutionConsultants</label>
        <locationX>443</locationX>
        <locationY>241</locationY>
        <assignNextValueToReference>EachSolutionConsultant</assignNextValueToReference>
        <collectionReference>SolutionConsultantsonOpptyTeam</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Task_for_Solution_Consultant</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Post_To_Chatter_On_oppty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task_for_Solution_Consultant</name>
        <label>Create Task for Solution Consultant</label>
        <locationX>669</locationX>
        <locationY>72</locationY>
        <connector>
            <targetReference>LoopThroughSolutionConsultants</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Facilitate a call to discover any special controller requirements arising from monitor configuration. Also, to verify network, power, and cabling. Finally, to validate shipping details, dates, etc.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>EachSolutionConsultant.UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>Threedaysfromnow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Schedule a Logistics Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Oppty_sObj.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Solution_Consultants</name>
        <label>Get Solution Consultants</label>
        <locationX>72</locationX>
        <locationY>87</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Solution_Consultant_exist_on_Oppty</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Oppty_sObj.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Solutions Consultant</stringValue>
            </value>
        </filters>
        <object>OpportunityTeamMember</object>
        <outputReference>SolutionConsultantsonOpptyTeam</outputReference>
        <queriedFields>UserId</queriedFields>
    </recordLookups>
    <startElementReference>Get_Solution_Consultants</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>MessageOnOpptyTaskCreated</name>
        <text>Tasks were created for all Solution Consultants on this Opportunity to Facilitate a call to discover any special controller requirements arising from monitor configuration. Also, to verify network, power, and cabling. Finally, to validate shipping details, dates, etc.</text>
    </textTemplates>
    <variables>
        <name>EachSolutionConsultant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>Oppty_sObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>SolutionConsultantsonOpptyTeam</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
</Flow>
